.card {
    border: 2px solid #000;
    padding: 12px;
    margin-bottom: 12px;
    background: #ede0e0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.title {
    color: black;
    margin: 0;
    font-size: 16px;
}

.description {
    margin: 4px 0 0;
    font-size: 14px;
    color: #555;
}

.actions {
    display: flex;
    gap: 6px;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
}