.column {
    width: 280px;
    border: 3px solid #000;
    padding: 12px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.addBtn {
    font-size: 20px;
    color: black;
    border: 1px solid #000;
    background: #ede0e0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.addBtn:hover {
    transform: scale(1.1);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  padding-right: 4px;
}

.list::-webkit-scrollbar {
  width: 6px;
}

.list::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #666;
}
